{% extends "base.html" %}

{% block title %} Nature of Code {% endblock %}

{% block head %}

<script type="module">
  import init, {run} from "{{ shared::config::WASM_JS_ENDPOINT }}"
  init().then(() => run(JSON.parse(`{{ exercise_ids|json|safe }}`)))
</script>
{% endblock %}

{% block body %}
<div class="space-y-8">
  {% for id in exercise_ids %}
  <div class="space-y-2">
    <h3 class="font-bold text-gray-800">Exercise {{ id }}</h3>
    <canvas id="{{ id }}" width="500" height="500"></canvas>
  </div>
  {% endfor %}
</div>
{% endblock %}